* {
  font-weight: 400;
}

::-webkit-scrollbar { 
  display: none;
}

.no-scroll {
  overflow: hidden;
}

body, md-content {
  font-family: 'RobotoDraft', sans-serif;
}

md-card {
  padding: 10px 25px;
  background-color: #fff;
}
img {
  max-width: 100%;
}

md-toolbar, .round-button, .search-input input, .icon-container {
  transition: background-color 0.2s ease;
  -webkit-transition: height 300ms ease-in-out;
  -moz-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}

md-toolbar {
  background-color: #084d8c !important;
}

.md-blue-btn {
  color: #29b6f6;
  fill: #29b6f6;
}

.md-yellow-btn {
  color: #ffa726;
  fill: #ffa726;
}

.search-icon {
  background-color: #5677fc;
}

.search-container {
  border-radius: 3px
}

.icon-container {
  background-color: #fff;
  border-color: #fff;
  height: 30px;
}

.icon-container, .search-icon {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.input-opaque-overlay {
  background-color: #fff;
  position: absolute;
  width: 767px;
  height: 30px;
  opacity: 0.25;
  border: none;
}

.search-input input {
  background-color: #fff;
  border-color: #fff;
  border: none;
  height: 30px;
  color: #000;
  font-size: 0.75em;
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
}

.search-input ::-webkit-input-placeholder {
   color: #000;
   opacity: 0.5;
}

.round-button, .round-button .icon-container {
  border-radius: 50px !important;
  background-color: #5677fc !important;
}


.md-white-theme {
  background-color: #f6f6f6 !important;
  color: #000 !important;
}

.md-white-theme .round-button .icon-container, .md-white-theme .round-button {
  background-color: #f6f6f6 !important;
}

.md-white-theme .search-input ::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
}

.md-white-theme .search-input input, .md-white-theme .icon-container {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.suggested:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.md-call-to-action {
  color: #fff !important;
  fill: #00BCD4 !important;
  background-color: #00BCD4 !important;
}

.watson-results {
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  top: 315px;
}

.md-tall {
  height: 250px !important;

}

.ex-hidden {
  visibility: hidden;
}

.md-toolbar-top {
  position: absolute;
  top: 0;
}

.md-toolbar-tools-bottom {
  z-index: 2;
}


.autocomplete-container {
  position: absolute;
  width: 732px;
  z-index: 50;
}

.md-opaque {
  background-color: rgba(0, 0, 0, 0.7) !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.marketing-img {
  background: url('../img/to-bg.jpg') no-repeat center center;
  height: 566px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  padding: 20px;
}

.marketing-img h1 {
  font-size: 5em;
}

.steps-section {
  position: relative;
  top: -38px;
}

.steps-section h2 {
  margin: 13px 0;
}

.steps-action md-button {
  background-color: #53A93F !important;
  color: white;
}

