<section class="program-list-section" >
  <div class="section-banner md-whiteframe-z1" layout="vertical" layout-align="space-between" style="background-color: {{bannerColor}}">
    <div layout="vertical" layout-align="center center">
      <h1>{{sectionTitle}}</h1>
      <img ng-class="{'md-whiteframe-z2': imgHover, 'md-whiteframe-z1': !imgHover }" ng-mouseenter="imgHover = true" ng-mouseleave="imgHover = false" style="border-radius: 200px;" ng-src="{{bannerIconSrc}}" alt="">
    </div>
    <div layout="horizontal">
      <md-button ng-click="goBack()" class="md-fab"><i class="fa fa-chevron-left"></i></md-button>
    </div>
  </div>
  <div class="program-list">
    <h2>Available</h2>
    <md-divider></md-divider>
    <md-card style="display: inline-block; width: 48%;" ng-href="{{program.href}}" ng-repeat="program in available" class="md-raised">
      <div>
        <h3>{{ program.name }}</h3>
        <p>{{ program.description }}</p>
      </div>
      <div layout="horizontal" layout-align="end" class="start-program-btn">
        <md-button class="md-primary apply-btn" ng-hide="program.disabled" ng-click="routeMe(program.href)">View</md-button>
        <md-button class="coming-btn" ng-disabled="true" ng-show="program.disabled">Coming soon</md-button>
      </div>    
    </md-card>
    <h2>Coming soon</h2>
    <md-divider></md-divider>
    <md-card style="display: inline-block; width: 48%;" ng-href="{{program.href}}" ng-repeat="program in notAvailable" class="md-raised">
      <div>
        <h3>{{ program.name }}</h3>
        <p>{{ program.description }}</p>
      </div>
      <div layout="horizontal" layout-align="end" class="start-program-btn">
        <md-button class="md-primary" ng-hide="program.disabled" ng-click="routeMe(program.href)">View</md-button>
        <md-button ng-disabled="true" ng-show="program.disabled">Coming soon</md-button>
      </div>    
    </md-card>
  </div>
</section>