<md-card>
  <h1>Welcome!</h1>
  <p>With just a few answers, we will be able to tell you what programs you can apply under.</p>

  <p>We can then continue from there and help you gather all the information we need to fill in the forms for you. You will be able to verify the forms and if you're satisfied with them, we will let you download them for a small fee.</p>

  <p>Now, when you're ready, let's figure out what program you should apply for!</p>
  <div class="card-triggers" layout="horizontal" layout-align="space-between">
    <md-button class="md-yellow-btn">
      Privacy
    </md-button>
    <md-button class="md-blue-btn">
      Get Started
    </md-button>
  </div>
</md-card>
