<section class="demo-section" layout="vertical" layout-align="center center">
  <h1>Form Filling Demo</h1>
  <md-card style="width: 60vw; padding: 0;">
    <md-tabs selected="tabIndex">
      <md-tab label="Welcome">
        <h1>Welcome</h1>
        <p>For this demo, we will guide you through a sample form.</p>
        <p>At the end, you will see that your answers have been filled out in a form for you.</p>      
        <p>Let's begin.</p>
        <div class="card-triggers" layout="horizontal" layout-align="end">
          <md-button ng-click="nextPage()" class="md-blue-btn">
            Next
          </md-button>
        </div>
      </md-tab>    
      <md-tab label="My Info">
        <div layout="vertical" layout-align="space-between">
        <div>
          <label for="">Name:</label>
          <div layout="horizontal">
            <md-text-float label="First Name" ng-model="personalResponses.firstName"></md-text-float>
            <md-text-float label="Last Name" ng-model="personalResponses.lastName"></md-text-float>
          </div>
          <br>

          <label for="">Date of Birth:</label>
          <div layout="horizontal">
            <md-text-float label="Year" ng-model="personalResponses.birthYear"></md-text-float>
            <md-text-float label="Month" ng-model="personalResponses.birthMonth"></md-text-float>
            <md-text-float label="Day" ng-model="personalResponses.birthDay"></md-text-float>
          </div>
          <br>

          <label for="">Location: </label>
          <div layout="horizontal">
            <md-text-float label="Country" ng-model="personalResponses.country"></md-text-float>
            <md-text-float label="City" ng-model="personalResponses.city"></md-text-float>
            <md-text-float label="Street" ng-model="personalResponses.street"></md-text-float>
          </div>
          <br>
          </div>

          <div class="card-triggers" layout="horizontal" layout-align="space-between">
            <md-button ng-click="previousPage()" class="md-blue-btn">
              Back
            </md-button>
            <md-button ng-click="nextPage()" class="md-blue-btn">
              Next
            </md-button>
          </div>
        </div>
      </md-tab>
      <md-tab label="My occupation">
        <div layout="vertical" layout-align="space-between">
          <div>
          <label for="">Occupation: </label>
          <div layout="horizontal">
            <md-text-float label="Occupation" ng-model="personalResponses.firstName"></md-text-float>
          </div>
          <br>

          <label for="">Start Date: </label>
          <div layout="horizontal">
            <md-text-float label="Year" ng-model="personalResponses.birthYear"></md-text-float>
            <md-text-float label="Month" ng-model="personalResponses.birthMonth"></md-text-float>
            <md-text-float label="Day" ng-model="personalResponses.birthDay"></md-text-float>
          </div>
          <br>

          <label for="">End Date: </label>
          <div layout="horizontal">
            <md-text-float label="Year" ng-model="personalResponses.birthYear"></md-text-float>
            <md-text-float label="Month" ng-model="personalResponses.birthMonth"></md-text-float>
            <md-text-float label="Day" ng-model="personalResponses.birthDay"></md-text-float>
          </div>
          <br>
          </div>

          <div class="card-triggers" layout="horizontal" layout-align="space-between">
            <md-button ng-click="previousPage()" class="md-blue-btn">
              Back
            </md-button>
            <md-button ng-click="nextPage()" class="md-blue-btn">
              Next
            </md-button>
          </div>
        </div>
      </md-tab>
      <md-tab label="My Finances">
        <div layout="vertical" layout-align="center">
          <label for="">How much money do you have at your disposal to move to Canada?</label>
          <div layout="horizontal">
            <md-text-float label="CAD" ng-model="personalResponses.firstName"></md-text-float>
          </div>
          <br>
          <div class="card-triggers" layout="horizontal" layout-align="space-between">
            <md-button ng-click="previousPage()" class="md-blue-btn">
              Back
            </md-button>
            <md-button ng-click="nextPage()" class="md-blue-btn">
              Next
            </md-button>
          </div>
        </div>
      </md-tab>
      <md-tab label="Completed form">
        <div layout="vertical" layout-align="center center">
          <h2>Great job, you may download your completed form below.</h2>
          <div layout="horizontal" layout-align="center">
              <iframe id="iframepdf" src="http://s3-us-west-2.amazonaws.com/contrajd/Filled_form.pdf" style="height: 600px; width: 640px"></iframe>
          </div>
          <div layout="horizontal" layout-align="center" style="margin-top: 10px;">
              <md-button class="md-raised"><a target="_blank" href="http://s3-us-west-2.amazonaws.com/contrajd/Filled_form.pdf">Download</a></md-button>
          </div>
        </div>
      </md-tab>
    </md-tabs>
 </md-card>
</section>