<section class="demo-section animated fadeInUp" layout="vertical" flex layout-align="space-between">
  <div class="form-filling" layout="horizontal" flex>
    <div class="left-space" flex="20">
    </div>
    <md-card class="main" flex>
      <md-tabs selected="formTabIndex">
        <md-tab label="Welcome">
          <md-toolbar class="md-tall md-whiteframe-z1" layout="vertical" layout-align="space-between">
            <div layout="vertical" flex layout-align="center center">
              <h1>Welcome</h1>
            </div>
            <div class="form-nav" layout="horizontal" layout-align="end">
              <md-button ng-click="nextPage()">Next</md-button>
            </div>
          </md-toolbar>
          <md-content layout="vertical" layout-align="space-between" flex>
            <h3>Welcome</h3>
            <p>For this demo, we will guide you through a sample form.</p>
            <p>At the end, you will see that your answers have been filled out in a form for you.</p>      
            <p>Let's begin.</p>
          </md-content>
        </md-tab>
        <md-tab label="Basic Information">
          <md-toolbar class="md-tall md-whiteframe-z1" layout="vertical" layout-align="space-between">
            <div layout="vertical" flex layout-align="center center">
              <h1>Basic Information</h1>
            </div>
            <div class="form-nav" layout="horizontal" layout-align="space-between">
              <md-button ng-click="previousPage()">Back</md-button>
              <md-button ng-click="nextPage()">Next</md-button>
            </div>
          </md-toolbar>
          <md-content layout="vertical" layout-align="space-between" flex>
            <div layout="vertical" layout-align="space-between">
              <label for="">What is your name?</label>
              <div layout="horizontal">
                <md-text-float label="First Name" ng-model="personalResponses.firstName"></md-text-float>
                <md-text-float label="Last Name" ng-model="personalResponses.lastName"></md-text-float>
              </div>
              <br>

              <label for="">When were you born?</label>
              <div layout="horizontal">
                <md-text-float label="Year" ng-model="personalResponses.birthYear"></md-text-float>
                <md-text-float label="Month" ng-model="personalResponses.birthMonth"></md-text-float>
                <md-text-float label="Day" ng-model="personalResponses.birthDay"></md-text-float>
              </div>
              <br>

              <label for="">What languages can you speak fluently?</label>
              <md-radio-group ng-model="personalResponses.maritalStatus" layout="horizontal">
                <md-radio-button value="english">English</md-radio-button>
                <md-radio-button value="french">French</md-radio-button>
                <md-radio-button value="both">Both</md-radio-button>
              </md-radio-group>
              <br>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Occupation">
          <md-toolbar class="md-tall md-whiteframe-z1" layout="vertical" layout-align="space-between">
            <div layout="vertical" flex layout-align="center center">
              <h1>Occupation</h1>
            </div>
            <div class="form-nav" layout="horizontal" layout-align="space-between">
              <md-button ng-click="previousPage()">Back</md-button>
              <md-button ng-click="nextPage()">Next</md-button>
            </div>
          </md-toolbar>
          <md-content layout="vertical" layout-align="space-between" flex>
            <div layout="vertical" layout-align="space-between">
              <label for="">What is your current occupation?</label>
              <div layout="horizontal">
                <md-text-float label="Occupation" ng-model="personalResponses.firstName"></md-text-float>
              </div>
              <br>

              <label for="">How many months have you held this occupation?</label>
              <div layout="horizontal">
                <md-text-float label="Months" ng-model="personalResponses.birthMonth"></md-text-float>
              </div>
              <br>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Finances">
          <md-toolbar class="md-tall md-whiteframe-z1" layout="vertical" layout-align="space-between">
            <div layout="vertical" flex layout-align="center center">
              <h1>Finances</h1>
            </div>
            <div class="form-nav" layout="horizontal" layout-align="space-between">
              <md-button ng-click="previousPage()">Back</md-button>
              <md-button ng-click="nextPage()">Next</md-button>
            </div>
          </md-toolbar>
          <md-content layout="vertical" layout-align="space-between" flex>
            <div layout="vertical" layout-align="space-between">
              <label for="">How much money do you have at your disposal to move to Canada?</label>
              <div layout="horizontal">
                <md-text-float label="CAD" ng-model="personalResponses.firstName"></md-text-float>
              </div>
              <br>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Completion">
          <md-toolbar class="md-tall md-whiteframe-z1" layout="vertical" layout-align="space-between">
            <div layout="vertical" flex layout-align="center center">
              <h1>Completed Form</h1>
            </div>
            <div class="form-nav" layout="horizontal" layout-align="space-between">
              <md-button ng-click="previousPage()">Back</md-button>
            </div>
          </md-toolbar>
          <md-content layout="vertical" layout-align="space-between" flex>
            <div layout="vertical" layout-align="space-between">
              <h3>You're done.</h3>
              <p>You may now preview or download your completed form.</p>
              <div layout="horizontal" layout-align="end">
                <md-button ng-click="showPreview($event)" class="md-blue-btn">
                  Preview Form
                </md-button>
                <md-button><a target="_blank" href="http://s3-us-west-2.amazonaws.com/contrajd/Filled_form.pdf">Download</a></md-button>
              </div>
            </div>
          </md-content>
        </md-tab>               
      </md-tabs>
    </md-card>
    <div class="right-space" flex="20" layout="vertical" layout-align="center">
    </div>
  </div>
</section>
