<section ng-class="{'translate-up': panelHidden}" id="homepage-panel" layout="vertical" layout-align="space-between">
  <div id="marketing-img" class="marketing-img"></div>
  <div class="homepage-text" flex style="z-index: 6;" layout="horizontal" layout-align="center center" class="md-whiteframe-z1">
    <div flex="50" layout="vertical" layout-align="center center" style="text-align: center;">
      <h1 style="margin: 0;">EXPRESSWAY</h1>
      <p>EXPRESSWAY is the end-to-end software service for immigration. Based on the questions you ask, we will match you with the best fitting immigration program. We will guide you through your forms and allow you to ask any immigration related question along the way.</p>
      <strong>Our goal is to help you immigrate to Canada in a fast and affordable way.</strong>
    </div>
  </div>
  <div class="email-input" style="z-index: 6; margin-bottom: 50px;" layout="vertical" layout-align="center">
    <div layout="horizontal" layout-align="center">
      <p>Leave us your email and we'll let you know as soon as we're ready!</p>
    </div>
    <div layout="horizontal" layout-align="center center">
      <input type="email" ng-model="email" placeholder="john@gmail.com"> 
      <md-button class="md-btn-green" ng-click="sendEmail()">Subscribe</md-button>
    </div>
  </div>
  <div id="peek-row" layout="vertical" layout-align="end">
    <div style="background-color: transparent; color: #fff; padding-bottom: 10px;" layout="horizontal" layout-align="center center">
      <strong>Coming soon</strong>
    </div>
  </div>  
  <div id="md-opaque" class="md-opaque"></div>
</section>
