<section toolbar-animate hide-panel="{{panelHidden}}" id="homepage-megaman" layout="vertical" layout-align="space-between">
  <div flex layout="horizontal" layout-align="center center">
    <div flex="50" layout="vertical" layout-align="center center" style="text-align: center;">
      <h1 style="margin: 0;">ExpressWay</h1>
      <p>ExpressWay is the end-to-end software service for immigration. Based on the questions that you ask, we will match you with the best fitting immigration program. We will guide you through your forms using our automated step-by-step guidance system and allow you to ask any immigration related question along the way.</p>
      <strong>Our goal is to help you immigrate to Canada in a fast and affordable way.</strong>
    </div>
  </div>
  <div layout="vertical" layout-align="end">
    <div layout="horizontal">
      <md-button class="md-primary">Terms</md-button>
      <md-button class="md-primary">Privacy</md-button>
      <md-button class="md-primary">Support</md-button>
    </div>
    <div ng-click="hideThePanel()" style="background-color: #53A93F; cursor: pointer; color: #fff; padding: 10px;" layout="horizontal" layout-align="center center">
      <strong>Where do I start?</strong>
    </div>
  </div>
</section>