<!-- <section layout="vertical" layout-align="center center" style="height: 450px; color: white;">
  <h1 style="margin-bottom: 5px;">Our vision is simple.</h1>
  <h4 style="margin-top: 5px; margin-bottom: 50px;">To answer your immigration questions.</h4>
  <md-button class="md-primary md-raised md-call-to-action" ng-click="searchContext()">{{ mainCard.actionText }}</md-button>
</section>
 -->
<section layout="horizontal" layout-align="space-between">
  <figure>
    <div class="media">
      <img src="static/img/1.png" alt="">
    </div>
    <figcaption>
      <p>
        A material metaphor is the unifying theory of a rationalized space and a system of motion. The material is grounded in tactile reality, inspired by the study of paper and ink, yet technologically advanced and open to imagination and magic.
      </p>
    </figcaption>
  </figure>
  <figure>
    <div class="media">
      <img src="static/img/2.png" alt="">
    </div>
    <figcaption>
      <p>
        A material metaphor is the unifying theory of a rationalized space and a system of motion. The material is grounded in tactile reality, inspired by the study of paper and ink, yet technologically advanced and open to imagination and magic.
      </p>
      <div layout="horizontal" layout-align="center center">
        <md-button class="md-raised">Start Application</md-button>
      </div>
    </figcaption>
  </figure>
   <figure>
    <div class="media">
      <img src="static/img/3.png" alt="">
    </div>
    <figcaption>
      <p>
        A material metaphor is the unifying theory of a rationalized space and a system of motion. The material is grounded in tactile reality, inspired by the study of paper and ink, yet technologically advanced and open to imagination and magic.
      </p>
    </figcaption>
  </figure>   
</section>


