<section layout="horizontal" layout-fill>
  <div class="marketing-img" flex layout="vertical" layout-align="end">
    <div class="homepage-steps" layout="horizontal" layout-align="space-around">
      <div>
        <h3>1. Ask</h3>
        <h4>Get the answers to your questions.</h4>
      </div>
      <div>
        <h3>2. Apply</h3>
        <h4>Receive your filled out immigration forms.</h4>
      </div>
      <div>
        <h3>3. Immigrate</h3>
        <h4>Start your new life in Canada.</h4>
      </div>
    </div>
  </div>
</section>
