<section layout="vertical" layout-align="center center" style="height: 300px; color: white;">
  <h1 style="margin-bottom: 5px;">Our vision is simple.</h1>
  <h4>To give you great search.</h4>
  <md-button class="md-primary md-raised md-call-to-action" ng-click="searchContext()">{{ mainCard.actionText }}</md-button>
</section>

<section layout="horizontal" layout-align="space-between">
  <md-card ng-repeat="testimonial in testimonials">
    <div layout="vertical" layout-align="center">
      <blockquote>
        {{ testimonial.quote }}
      </blockquote>
      <div layout="horizontal" layout-align="end">
        {{ testimonial.name}}
      </div>
    </div>
  </md-card>
</section>


