<section class="overview-section">
  <div class="section-banner md-whiteframe-z1" layout="vertical" layout-align="space-between" style="background-color: {{bannerColor}}; margin-bottom: 50px;">
    <div layout="vertical" layout-align="center center">
      <h1>{{sectionTitle}}</h1>
    </div>
    <div layout="horizontal">
      <md-button ng-click="goBack()" class="md-fab"><i class="fa fa-chevron-left"></i></md-button>
    </div>
  </div>
  <div layout="horizontal" ng-repeat="formRow in programForms" layout-align="center" class="path-row">
    <md-card ng-click="routeMe('/apply/demo')" class="form-card" ng-repeat="form in formRow" layout="vertical" layout-align="space-between" flex="25">
      <div class="form-icon" layout="horizontal" layout-align="center center">
        <i class="fa fa-file-text-o"></i>
      </div>
      <md-divider></md-divider>
      <div class="form-info" layout="vertical">
        <div class="form-meta" layout="vertical" flex>
          <p class="form-name">{{form.name}}</p>
          <p class="form-code">{{form.code}}</p>
        </div>
        <div class="form-progress" layout="horizontal" layout-align="center center">
          <md-progress-linear md-mode="determinate" ng-value="{{form.progress}}"></md-progress-linear>
          {{form.progress}}%
        </div>
      </div>
    </md-card>
  </div>
  <div layout="horizontal" layout-align="center center" class="view-all-row">
    <md-button ng-class="{'md-disabled': !completedProgram, 'md-primary': completedProgram}">Submit</md-button>
  </div>
</section>