<md-dialog aria-label="Mango (Fruit)">
  <md-content>
      <iframe id="iframepdf" src="http://s3-us-west-2.amazonaws.com/contrajd/Filled_form.pdf" style="height: 600px; width: 640px"></iframe>
  </md-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="hide()">
      Close
    </md-button>
    <span flex></span>
    <md-button target="_blank" href="http://s3-us-west-2.amazonaws.com/contrajd/Filled_form.pdf" class="md-primary">
      Download
    </md-button>
  </div>

</md-dialog>