<section class="program-list-section" >
  <div style="margin-top: 7vh;" layout="vertical" layout-align="center center">
    <h1>{{sectionTitle}}</h1>
  </div>
  <div class="program-list" style="height: 300px; overflow: scroll;">
    <div style="height: 300px; overflow: scroll;">
    <md-button style="display: block;" ng-disabled="{{category.disabled}}" ng-href="{{category.href}}" ng-repeat="category in categories" class="md-raised">
      <h3>{{ category.name }}</h3>
    </md-button>
    </div>
  </div>
  <div layout="horizontal" layout-align="center center" class="view-all-row">
    <a href="">View all options</a>
  </div>
</section>