<section class="program-list-section" >
  <div class="section-banner md-whiteframe-z1" layout="vertical" layout-align="space-between" style="background-color: {{bannerColor}}">
    <div layout="vertical" layout-align="center center">
      <h1>{{sectionTitle}}</h1>
      <img ng-class="{'md-whiteframe-z2': imgHover, 'md-whiteframe-z1': !imgHover }" ng-mouseenter="imgHover = true" ng-mouseleave="imgHover = false" style="border-radius: 200px;" ng-src="{{bannerIconSrc}}" alt="">
    </div>
    <div layout="horizontal">
      <md-button ng-click="goBack()" class="md-fab"><i class="fa fa-chevron-left"></i></md-button>
    </div>
  </div>
  <div class="program-list">
    <md-card style="display: inline-block; width: 48%;" ng-href="{{category.href}}" ng-repeat="category in categories" class="md-raised">
      <div>
        <h3>{{ category.name }}</h3>
        <p>{{ category.description }}</p>
      </div>
      <div layout="horizontal" layout-align="end" class="start-program-btn">
        <md-button class="md-primary" ng-hide="category.disabled" ng-click="routeMe(category.href)">View</md-button>
        <md-button ng-disabled="true" ng-show="category.disabled">Coming soon</md-button>
      </div>
    </md-card>
  </div>
  <div layout="horizontal" layout-align="center center" class="view-all-row">
    <md-button class="md-primary" ng-click="routeMe('/apply/all')">View all programs</md-button>
  </div>
</section>