<section class="program-list-section" >
  <div class="section-banner" layout="vertical" layout-align="center center" 
       style="background-color: {{bannerColor}}">
    <h1>{{sectionTitle}}</h1>
    <img class="md-whiteframe-z1" style="border-radius: 200px;" ng-src="{{bannerIconSrc}}" alt="">
  </div>
  <div class="program-list">
    <md-card style="display: inline-block; width: 48%;" ng-href="{{category.href}}" ng-repeat="category in categories" class="md-raised">
      <h3>{{ category.name }}</h3>
      <p>{{ category.description }}</p>
    </md-card>
  </div>
  <div layout="horizontal" layout-align="center center" class="view-all-row">
    <a href="">View all options</a>
  </div>
</section>