<div ng-controller="SuggestionsController">
  <md-card style="position:relative; top: -25px;">
    <md-list>
      <md-item ng-repeat="question in suggestedQuestions">
        <md-item-content class="suggested">
          <div class="md-tile-content">
            {{ question.question }}
          </div>
        </md-item-content>
      </md-item>
    </md-list>
    <md-divider></md-divider>
    <md-subheader class="md-primary">Suggested Questions:</md-subheader>
    <md-list>
      <md-item ng-repeat="question in suggestedQuestions">
        <md-item-content>
          <div class="md-tile-content">
            {{ question.question }}
          </div>
        </md-item-content>
      </md-item>
    </md-list>    
  </md-card>
</div>
