<div ng-controller="WatsonController" flex class="sidenav" layout="vertical" layout-align="space-between">
  <div class="watson-content" flex>
    <md-tabs selected="tabIndex">
      <md-tab flex label="Suggestions" class="suggestions-tab">
        <md-toolbar class="md-whiteframe-z1 md-toolbar-white" layout="horizontal" layout-align="center center">
          <div>
            Suggested Questions <i class="fa fa-question-circle"></i> 
          </div>
        </md-toolbar>
        <md-list id="repeatedSuggestions">
          <div ng-repeat="question in suggestedQuestions" class="animated fadeIn">
            <md-item class="suggested-question" layout="horizontal" >
              <div class="md-tile-content" ng-click="askSuggested($event)">
                {{question.question}}
              </div>
              <div layout="horizontal" layout-align="center center">
              <i class="fa fa-chevron-right"></i>
              </div>
            </md-item>
          </div>
        </md-list>        
      </md-tab>
      <md-tab label="Answer" class="answer-tab">
        <md-toolbar class="md-whiteframe-z1 md-toolbar-white" layout="horizontal" layout-align="center">
          <div class="md-toolbar-tools" layout="horizontal" layout-align="space-between">
            <div class="back" ng-click="backToSuggestions()">
              <i class="fa fa-chevron-left"></i> Suggestions
            </div>
            <md-button ng-href="http://www.cic.gc.ca/english/index.asp" target="_blank" style="font-size: 21px;"><i class="fa fa-external-link"></i></md-button>
          </div>
        </md-toolbar>
        <div class="answer-text animated fadeIn">
          <div class="question-container">
            <p><strong>Question: </strong></p>
            <p>{{questionText}}</p>
          </div>
          <div>
            <p><strong>Answer: </strong></p>
            <p>{{theAnswer.text}}</p>
          </div>
        </div>
        <div class="loading-container "layout="vertical" layout-align="center center">
          <md-progress-circular ng-show="isLoading" style="margin-left: -25px; margin-bottom: 10px; height:24px; width:24px;" diameter="50" mode="indeterminate"></md-progress-circular>
        </div>
      </md-tab>
    </md-tabs>
  </div>
  <div class="ask-watson" layout="vertical" layout-align="end">
    <div ng-click="routeMe('/overview/{{recommendedRoute}}')" class="recommendation-row" ng-show="showRecommendation" layout="horizontal" layout-align="center center">
      <strong>
        Apply to {{recommendedProgram}}
      </strong>
    </div>
    <div class="watson-action md-whiteframe-z1" layout="horizontal">
      <div layout="vertical" layout-align="center" flex>
        <form ng-submit="toggleAndAsk()">
          <input placeholder="Ask your question here" ng-model="questionForWatson" name="ask-card" id="ask-watson-input"  />
        </form>    
      </div>
      <div layout="vertical" layout-align="center">
        <md-button ng-click="toggleAndAsk()" class="md-primary">
          <span>Ask</span>
        </md-button>
      </div>
    </div>
  </div>
</div>